/* Popup Animation */
.animate {
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}
.animate.fade {
  animation-name: animate-fade;
  animation-timing-function: ease;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.left {
  float: left;
  padding-right: 20px;
  padding-top: 50px;
}

.right {
  float: right;
  padding-left: 50px;
  padding-bottom: 50px;
}
/* Speech Bubble */

.speech {
  font-family: Verdana;
  color: black;
  position: relative;
  width: 20em;
  min-height: 50px;
  text-align: center;
  line-height: 20px;
  background-color: white;
  border: 1px solid #f28c8a;
  margin-right: 50px;
  margin-left: 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 14px #f28c8a;
  z-index: 1000;
  padding: 10px 10px 20px 10px;
  vertical-align: middle;
  max-width:100%;
  /* padding-left: 40px;
  padding-bottom: 40px; */
  margin: 10px 10px 10px 10px;
}

.content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10000;
  box-sizing: border-box;
  width: 100%;
  pointer-events: none;
  border-radius: 30px;
  overflow: hidden;
  padding: 20px 20px 20px 20px;
  vertical-align: middle;
  align-content: center;
  max-width:100%;

}

.content:after,
.content:before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10000;
  box-sizing: border-box;
  pointer-events: none;
  border-radius: 30px;
  overflow: hidden;
 
}

/* .content:before {
  background-image: repeating-linear-gradient( 0deg, rgba(0, 0, 0, .08), transparent 2px, rgba(0, 0, 0, .08) .25px, transparent .25px );
  animation: jiggle .2s linear infinite;
}

.content:after {
  background-image: repeating-linear-gradient( 90deg, rgba(0, 0, 0, .04) 1px, transparent 2px, rgba(0, 0, 0, .04) 1px, transparent 1px );
  animation: wiggle .2s linear infinite;
} */


@keyframes wiggle {
  0% {
    margin-left: -1px;
  }

  50% {
    margin-left: 1px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes jiggle {
  0% {
    margin-top: -1px;
  }

  50% {
    margin-top: 1px;
  }

  100% {
    margin-top: 0px;
  }
}

.speech:after,
.speech:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  z-index: 1001;
}

.speech:after {
  left: 32px;
  border: 5px solid;
  border-color: #f28c8a transparent transparent #f28c8a;
}

.speech:before {
  left: 30px;
  border: 15px solid;
  border-color: #f28c8a transparent transparent #f28c8a;
  
}

.txtLine {
  position: absolute;
  left:5px;
  display: block;
  width: 100%;
  top: 25px;
  bottom: 25px;
  left: 10px;
  right: 85px;
}

.txtLine div {
  position: absolute;
  left:10px;
  display: inline-block;
  max-width: 100%;
}

.show {
  padding-right: 20px;
}

.show div {
  right: 0px;
  height: 100%;
  width: 20px;
}

.show div:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  animation: letters .2s linear infinite;
}


.hide {
  overflow: hidden;
  width: 50px;
  visibility: hidden;
}

/* Font size, weight, and color */

/* Cupids Positioning you can use margin-right: 10px; */


